/* Generic Styles */

body {
	background-color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	padding: 0 30px;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

/* Font Styles */

a {
	color: #A1D490;
	font-weight: 400;
}

a:hover {
	opacity: .5;
}

p {
	font-weight: 100;
}

.centered {
	text-align: center;
}

.small {
	font-size: 11px;
}

.thick {
	font-weight: 400;
}

h1 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

/* Image Styles */

img.rounded {
	border-radius: 100px;
}

/* Section Styles */

section, footer {
	padding-top: 20px;
}

section#about {
	padding-top: 20px;
}

footer {
	padding-top: 20px;
}

/* Styles for larger screens */

@media only screen and (min-width: 600px) {
	body {
		max-width: 600px;
	}
}

/* Pizza project-specific styles */
/* Coming Soon */
